<template name="postItem">
	<div class="post">
		<div class="post-content">
			<p>
				<h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
				<br>
		        submitted by {{author}}
		         <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
		        {{#if isAuthorOfPost}}
		        	<a href="{{pathFor 'postEdit'}}">Edit</a>
		        	{{/if}}
			</p>
		</div>
		<div>
		
      </div>
		{{#if isAuthorOfPost}}
	<a href="{{pathFor 'postDelete' _id}}" class="discuss btn btn-danger"> Delete </a>
	{{/if}}
	<a href="{{pathFor 'postPage' _id}}" class="discuss btn btn-default"> Discuss </a>
		
	</div>

</template>
